@charset "utf-8";

/* CSS Document */
html,
body {
  width: 100%;
  height: 100%;
}

/* 触摸设置-设置触摸屏用户如何操纵元素的区域 */
html {
  touch-action: none !important;
}

/* 重置margin和padding */
body,
h1,
h3,
h2,
h4,
h5,
h6,
p,
dl,
dd,
ul,
li,
ol,
td,
form,
input,
fieldset,
legend,
figure {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  font-size: 20px;
  color: #333;
  text-decoration: none;
}

body {
  overflow-x: hidden;
  font-family: "Microsoft YaHei", sans-serif;
  font-size: 20px;
  color: #000;
  //background-image: url("../../static/images/bg3.png");
  background-color: #ecf0f3;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

/* 使用怪异盒模型 */
* {
  touch-action: pan-y !important;
  box-sizing: border-box;
}

img {
  display: block;
  border: none;
}

a,
input {
  outline: none;
}

em,
i {
  font-style: normal;
}

b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

/* 清除 */
.clear::after {
  display: block;
  height: 0;
  clear: both;
  content: "";
  visibility: hidden;
}

/* 去除边框 */
.border0 {
  border: none;
}

/* 谷歌的滚动条样式 */
::-webkit-scrollbar {
  /* 对垂直流动条有效 */
  width: 8px;

  /* 对水平流动条有效 */
  height: 6px;
}

/* 定义滚动条的轨道颜色、内阴影及圆角 */
::-webkit-scrollbar-track {
  background-color: rosybrown;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-track-piece {
  margin: 0;
  background-color: rgb(244, 244, 244);
}

/* 定义滑块颜色、内阴影及圆角 */
::-webkit-scrollbar-thumb {
  min-width: 150px;
  min-height: 150px;
  background-color: #797979;
  border-radius: 10px;
  //-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  //margin: 0 auto;
}

/* 定义两端按钮的样式 */
::-webkit-scrollbar-button {
  display: none;
  background-color: cyan;
}

/* 定义右下角汇合处的样式 */
::-webkit-scrollbar-corner {
  background: khaki;
}
